@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Forum&family=Red+Hat+Text&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Forum', cursive;
}

h3 {
    font-family: 'Forum', cursive; 
    margin-bottom: 0;  
}

h5 {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}

p {
    font-family: 'Red Hat Text', sans-serif;
}

.nav-link {
    font-family: 'Forum', cursive;
}

